################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/WebApplication1
/WebApplication1/bin/Debug/net8.0
/WebApplication1/obj/Debug/net8.0/ref
/WebApplication1/obj/Debug/net8.0/refint
/WebApplication1/obj/Debug/net8.0/scopedcss
/WebApplication1/obj/Debug/net8.0/staticwebassets
/WebApplication1/obj/Debug/net8.0
/WebApplication1/bin/Release/net8.0/linux-x64
